###################################################
#### Required packages for pySED documentation ####
###################################################

numpy>=1.15.0
matplotlib>=3.5.2
seaborn
h5py
scipy
